<div id="page-content">
<style>
a {
    text-decoration: none;
}
</style>

<div class="container">
  <% @articles.each do |item| %>
    <div class="row justify-content-md-center">
        <div class="col-8 mt-4">
            <div class="card text-center shadow mb-5 bg-white rounded">
                <div class="card-header font-italic">
                  by <%=  item.user.username if item.user%>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><%=link_to item.title,article_path(item), class: "text-success"%></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><%=item.description%></h6>
                    <%=link_to 'Show',article_path(item), class: "btn btn-outline-success"%>
                    <%=link_to 'Edit',edit_article_path(item), class: "btn btn-outline-info"%>    <!--you can check it from rails routes --expanded  in prefix path is written-->
                    <%=link_to 'Delete',article_path(item), class: "btn btn-outline-danger" ,method: :delete,data: {confirm: "Are You sure?"}%>  <!--- here method shows delete request ,i we don't specified method name it will take as Get request and show currently selected item--->               
                </div>
                  <div class="card-footer text-muted">
                    <small>Created <%= time_ago_in_words(item.created_at) %> ago,
                     edited <%= time_ago_in_words(item.updated_at) %> ago</small>
                  </div>
            </div>
        </div>
    </div>

  <%end%>

</div>

</div>

<br>
<p ><%= link_to 'Create New Article',new_article_path%><p>
