<h1 class="text-center mt-4">User Bloggers</h1>
<div class="flickr_pagination">
  <%= will_paginate @users, :container => false %>
</div>

<div id="page-content">
<style>
a {
    text-decoration: none;
}
</style>

<div class="container">
  <% @users.each do |item| %>
    <div class="row justify-content-md-center">
        <div class="col-8 mt-4">
            <div class="card text-center shadow mb-5 bg-white rounded">
                <div class="card-header font-italic">
                  <%= link_to item.username, user_path(item)%>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><%=link_to gravatar_for(item, size:150), item , class: "text-success"%></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><%=pluralize(item.articles.count,"Articles")%></h6>
                    <%=link_to 'View Profile',item, class: "btn btn-outline-success"%>
                  <% if logged_in? %>
                        <% if item == current_user %>
                            <%=link_to 'Edit Profile',edit_user_path(item), class: "btn btn-outline-info"%>    <!--you can check it from rails routes --expanded  in prefix path is written-->
                        <%end%>
                        <% if current_user.admin? %>
                             <%= link_to "Delete user", user_path(item), class: "btn btn-outline-danger", method: :delete,
                              data: {confirm: "Are you sure you want to delete the user account and all associated articles?"} %>
                        <%end%>
                  <%end%>
                </div>
                  <div class="card-footer text-muted">
                    <small>Joined <%= time_ago_in_words(item.created_at) %> ago</small>
                  </div>
            </div>
        </div>
    </div>

  <%end%>
  <div class="flickr_pagination mb-4">
                  <%= will_paginate @users, :container => false %>
                </div>

</div>
<footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
      <small>Copyright &copy;</small>
      <%=link_to 'Articles Listing',articles_path,class: "text-white" %> |
      <%=link_to 'About Page',about_path ,class: "text-white" %>
    </div>
  </footer>

</div>

